html(lang='fr')
  head
    meta(charset='utf-8')
    // Bootstrap core CSS
    link(href='../stylesheets/bootstrap.min.css', rel='stylesheet')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    // Custom styles for this template
    link(href='../stylesheets/header.css', rel='stylesheet')
