nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      h3.headlogo
      a(href='/')
        img(src='/images/logobeaupotagersmall.png' alt="Beaupotager")
    form.navbar-form.navbar-left(action="/search" method="get" role='search')
      .form-group
        input.form-control(type='text' name="query" placeholder='Où trouver un potager ?')
      button.btn.btn-default(type='submit') Rechercher
    ul.nav.navbar-nav.navbar-right
      if (!user)
        li
          a(href='/signup') Inscription
        li
          a(href='/login') Connexion
        li
          a(href='#') Proposer votre potager
      if (user)
        li
          a(href='#') #{user.username}
        li
          a(href='#') Profil
        li
          a(href='/logout') Déconnexion
        li
          a(href='#') Proposer votre potager
      
