include ./includes/head

  title #{title}
  link(href='../stylesheets/cover.css', rel='stylesheet')
  link(href='../stylesheets/index.css', rel='stylesheet')
  link(href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet')
  
body
  #headerPosition(style='display:none;')
    include ./includes/header
     
  section#top.header
    #headerHome
      .masthead.clearfix
            .inner
              h3.masthead-brand
                a(href='/')
                  img(src='../images/logobeaupotager.png')
              nav
                ul.nav.masthead-nav
                  if (!user)
                    li
                      a(href='/signup') Inscription
                    li
                      a(href='/login') Connexion
                    li
                      a(href='/login') Proposer votre potager
                  if (user)
                    li
                      a(href='#') Profil
                    li
                      a(href='#') Proposer votre potager
                    li
                      a(href='/logout') Déconnexion
    .text-vertical-center
      h1= title
      
      br        
      
      .container
        .row
          .col-sm-12
            form(action="/search")
              .searchbar
                input.form-control#search_autocomplete(type="text" name="placeQuery" placeholder="Où trouver un potager?" )
              button.btn.btn-success.btn-lg(type="submit")    
                i.fa.fa-search  Rechercher
            
        
  // About
  section#about.about
    .container
      .row
        .col-lg-12.text-center
          h2 Trouvez simplement des fruits et légumes bios près de chez vous!
          p.lead Cultivez, achetez et récoltez vos fruits et légumes

  // Services
  section#services.services.bg-primary
    .container
      .row.text-center
        .col-lg-10.col-lg-offset-1
          h2 Our Services
          hr.small
          .row
            .col-md-3.col-sm-6
              .service-item
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-cloud.fa-stack-1x.text-primary
                h4
                  strong Service Name
                p
                a.btn.btn-light(href='#') Learn More
            .col-md-3.col-sm-6
              .service-item
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-compass.fa-stack-1x.text-primary
                h4
                  strong Service Name
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a.btn.btn-light(href='#') Learn More
            .col-md-3.col-sm-6
              .service-item
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-flask.fa-stack-1x.text-primary
                h4
                  strong Service Name
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a.btn.btn-light(href='#') Learn More
            .col-md-3.col-sm-6
              .service-item
                span.fa-stack.fa-4x
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-shield.fa-stack-1x.text-primary
                h4
                  strong Service Name
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a.btn.btn-light(href='#') Learn More
          
  section
    #homemap(style="height:450px;")

  include ./includes/footer
  
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js")
  script.
    var didScroll;
    var lastScrollTop = 0;
    $(window).scroll(function(event){
      var st = $(this).scrollTop();
       if (st > lastScrollTop){
           $('#headerPosition').show( "slide", {direction: "up" } );
           $('#headerHome').hide();
       } else {
          if(st <100 ){
            $('#headerPosition').hide( "slide", { direction: "up"  } );
            $('#headerHome').show();
          }
       }
       lastScrollTop = st;
    });

  script(type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js')
  script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCd6Is_FM85A7GKzMElUgMdCUCC7v6dW-w")
  script(type="text/javascript" src="javascripts/autocomplete.js" type="text/javascript")
  script(type="text/javascript" src="javascripts/homemap.js" type="text/javascript")
