include ./includes/head
  title #{title}
  link(rel='stylesheet' href='../stylesheets/Search.css')
  link(href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet')  
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

body   
  include ./includes/header  

  .container
    #searchmap
    .searchResults
      .checkbox
        .btn-group(data-toggle='buttons')
          label.btn.btn-default Fruits 
            input(type='checkbox' autocomplete='off' checked='' name="fruit") 
            i.fa.fa-check
          label.btn.btn-default Légumes 
            input(type='checkbox', autocomplete='off')
            i.fa.fa-check
          label.btn.btn-default Bio 
            input(type='checkbox', autocomplete='off')
            i.fa.fa-check
          label.btn.btn-default Récolte sur place 
            input(type='checkbox', autocomplete='off')
            i.fa.fa-check
          label.btn.btn-default Formations 
            input(type='checkbox', autocomplete='off')
            i.fa.fa-check
          label.btn.btn-default Ventes flash 
            input(type='checkbox', autocomplete='off')
            i.fa.fa-check
      .row
        .col-md-4.portfolio-item
          a(href='/Potager/1')
            img.img-responsive(src='images/FruitsLegumes/pomme_de_terre.jpg' alt='')
          .plus
            .logo
              img.img-responsive2(src='images/Logos/Bio.png' alt='')
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/piment_rouge.jpg' alt='')
          .plus
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/pomme_de_terre.jpg' alt='')
          .plus
            .logo
              img.img-responsive2(src='images/Logos/Bio.png' alt='')
      .row
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/piment_rouge.jpg' alt='')
          .plus
            .logo
              img.img-responsive2(src='images/Logos/Bio.png' alt='')              
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/potiron.jpg' alt='')
          .plus
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/pomme_de_terre.jpg' alt='')
          .plus 
      .row
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/potiron.jpg' alt='')
          .plus
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/pomme_de_terre.jpg' alt='')
          .plus
            .logo
              img.img-responsive2(src='images/Logos/Bio.png' alt='')
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/potiron.jpg' alt='')
          .plus
            .logo
              img.img-responsive2(src='images/Logos/Bio.png' alt='')

      .row.text-center
        .col-lg-12
          ul.pagination
            li
              a(href='#') «
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') »
      hr
      .footer
        p Infos qu'il voudra, astuce Olivier. 
        
script(type="text/javascript" src='../javascripts/jquery-1.11.3.min.js')

script(type="text/javascript" src='../javascripts/bootstrap.min.js')
script(type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js')
script.
  var placeQuery = !{JSON.stringify(placeQuery)};  
script(type="text/javascript" src="/javascripts/searchmap.js")
script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCd6Is_FM85A7GKzMElUgMdCUCC7v6dW-w")
script(type="text/javascript" src="javascripts/autocomplete.js")
