include ./includes/head
  title #{title}
  link(rel='stylesheet' href='../stylesheets/Search.css')
  link(href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet')  
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

body   
  include ./includes/header    

  .container
    #searchmap
    .searchResults
      .checkbox
        label
          input(type='checkbox' value='')
          span.cr
            img.icon(src='images/logos/banana.png' alt='Légume')
        label
          input(type='checkbox' value='')
          span.cr
            img.icon(src='images/logos/legume.png' alt='Légume')
        label
          input(type='checkbox' value='')
          span.cr
            i.fa.fa-leaf.label.label-success Bio
        label
          input(type='checkbox' value='')
          span.cr
            i.fa.fa-shopping-bag.label.label-primary Sur place
        label
          input(type='checkbox' value='')
          span.cr
            i.fa.fa-suitcase.label.label-danger Service
        label
          input(type='checkbox' value='')
          span.cr
            i.fa.fa-cart-arrow-down.label.label-default Vente flash
      .row
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/Tests/cibouletteplein.jpg' alt='')
          .plus
            .logo
              img.img-responsive2(src='images/Logos/Bio.png' alt='')
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/Tests/cibouletteplein.jpg' alt='')
          .plus
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/Tests/cibouletteplein.jpg' alt='')
          .plus
            .logo
              img.img-responsive2(src='images/Logos/Bio.png' alt='')
      .row
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/Tests/cibouletteplein.jpg' alt='')
          .plus
            .logo
              img.img-responsive2(src='images/Logos/Bio.png' alt='')              
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/Tests/cibouletteplein.jpg' alt='')
          .plus
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/Tests/cibouletteplein.jpg' alt='')
          .plus 
      .row
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/Tests/cibouletteplein.jpg' alt='')
          .plus
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/Tests/cibouletteplein.jpg' alt='')
          .plus
            .logo
              img.img-responsive2(src='images/Logos/Bio.png' alt='')
        .col-md-4.portfolio-item
          a(href='#')
            img.img-responsive(src='images/FruitsLegumes/Tests/cibouletteplein.jpg' alt='')
          .plus
            .logo
              img.img-responsive2(src='images/Logos/Bio.png' alt='')
      hr

      .row.text-center
        .col-lg-12
          ul.pagination
            li
              a(href='#') «
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') »
      hr
script(type="text/javascript" src='../javascripts/jquery-1.11.3.min.js')

script(type="text/javascript" src='../javascripts/bootstrap.min.js')
script(type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js')
script.
  var placeQuery = !{JSON.stringify(placeQuery)};  
script(type="text/javascript" src="/javascripts/searchmap.js")
script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCd6Is_FM85A7GKzMElUgMdCUCC7v6dW-w")
script(type="text/javascript" src="javascripts/autocomplete.js")
